.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  transition: opacity .7s ease;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: .5;
}
